<!-- <div class="container-fluid">
  <div class="col-md-6">
    <div class="row">
      <h1 class="header-title">
        Chat
      </h1>
    </div>
    <div class="row">
      <select class="form-control">
        <option autoFocus>View chat from</option>
        <option *ngFor="let i of ideas">{{i.ideaName}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <h1 class="header-title">
      Messages
    </h1>
    <div class="row">
      <div class="col-md-6">
        <label id="label">In chat with:</label>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-primary">+ Add Recipient</button>
      </div>
    </div>
    <div class="row">
      <div class="well" style="height: 300px; overflow-y: scroll; margin-top:15px">
        <div *ngFor="let message of messages">{{message}}</div>
      </div>
      
      
      <form (ngSubmit)="sendMessage()">
          <input type="text" name="currentMessage" class="form-control" [(ngModel)]="currentMessage" />
          <br />
          <button type="submit" class="btn btn-primary" >Send Message</button>
      </form>
    <div class="row">
      <div class="col-md-6" id="message-box">
        messages goes here
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col pt-4">
      <p><strong>Chats</strong></p>
      <hr>
        <div class="form-group pt-4">
          <label for="message-inline" class="bkg-col-text">View Chats from</label>
          <select class="form-control" id="message-inline"  >
              <option *ngFor="let idea of ideas" [value]="idea">{{idea.ideaName}}</option>
          </select>
        </div>
        <div class="headind_srch pt-3 pb-3">
          <div class="recent_heading text-center">
            <input type="text" class="search-bar"  placeholder="Search" >
          </div>
        </div>
        <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="notification">1</span></h5>
                  <p>Test, which is a new approach to have all...</p>
                </div>
            </div>
        </div>
        <div class="chat_list">
          <div class="chat_people">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="notification">1</span></h5>
                <p>Test, which is a new approach to have....</p>
              </div>
            </div>
        </div>
    </div>
    <div class="col pt-4">
      <p><strong>Messages</strong></p>
      <hr>
      <div class="form-group pt-4">
        <label id="chat-messages-lbl" class="bkg-col-text"> In chat with: <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </label>
          <button type="button" class=" float-right btn bkg-col-element">+ Add Recipiant</button>
      </div>
      <div class="mesgs pt-4">
        <div class="msg_history">
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                  solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span>
                </div>
              </div>
          </div>
          <div class="outgoing_msg">
            <div class="outgoing_msg_img"> <img id="outgoing_img" src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> 
              </div>  
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>