<div class="container idea-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h3><strong>Create Idea</strong></h3>
      <form (ngSubmit)="onSubmit()" action="" #createIdea="ngForm">
          <div class="form-group">
              <label for="title" class="bkg-col-text"><strong>Title</strong></label> 
              <input name="idea-title" type="text" id="idea-title" class="form-control" aria-label="title" [(ngModel)]="idea.name" #titleIdea required> 
          </div>
          <div class="form-group">
            <label for="category" class="bkg-col-text"><strong>Category</strong></label>
            <select class="form-control" id="idea-category"  >
                <option *ngFor="let cat of categoryList" [value]="cat" >{{cat}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="bkg-col-text" for="description"><strong>Description</strong></label>
            <textarea name="idea-description" placeholder="Tell us about your idea..." class="form-control" id="idea-description" rows="3" 
              [(ngModel)]="idea.description" #ideaDescription>
            </textarea>
          </div>
          <div class="form-group">
            <label class="bkg-col-text" for="media"><strong>Media</strong></label>
            <hr>
            <div class="text-center">
              <button class="btn bkg-col-element">Upload File</button>
            </div>
          </div>
          <div class="form-group">
            <label class="bkg-col-text" for="media"><strong>Available Position</strong></label>
            <hr>
            <div class="text-center">
              <button class="btn bkg-col-element"
                type="button" data-toggle="modal" data-target="#modalPosition" (click)="addPosition()">
                Add Position
              </button>
            </div>
          </div>
          <div class="form-group">
              <button click="onSubmit()" type="submit" id="submit" class="bkg-col-element btn">Submit for Approval</button>
          </div>
      </form>
    </div>
  </div>
</div>
<app-create-position  (openModalPosition)="addPosition()" (saveModalPosition)="onCloseModal($event)" ></app-create-position>

