


<div class="container">
    <form (ngSubmit)="onSubmit()">
    <div>
        <label class="control-label" for="CurrentPassword">Current Password:</label>
        <input class="form-control" id="CurrentPassword" type="text"  name="CurrentPassword" required/>
    </div>
    
    <div>
        <label class="control-label" for="NewPassword">New Password:</label>
        <input class="form-control" id="NewPassword" type="text"  name="NewPassword" required/>
    </div>
          
    <div>
        <label class="control-label" for="ConfirmPassword">Confirm Password:</label>
        <input class="form-control" id="ConfirmPassword" type="text"  name="ConfirmPassword" required/>
    </div>

    <div>
        <input type="submit" value="Confirm"/>
    </div>
</form>

</div>