<div class="container main-wrapper">
  <div class="row">
      <div class="col">
          <div class="text-container text-center pt-5">
            <h3>Welcome to <strong class="bkg-col-text">BrightIdeas!</strong> A community of talented individuals who want to help others let their
              ideas shine!<a href="#"> Learn More </a>
            </h3>
          </div>
      <div>
  <div>
  <h3 class="pt-4">Featured Ideas</h3>
  <hr>
  <div class="row">
    <div class="col-6 col-md-4">
      <div id="carousel-featured-idea" class="corousel-container carousel slide pt-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-featured-idea" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-featured-idea" data-slide-to="1"></li>
          <li data-target="#carousel-featured-idea" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h5 class="bkg-col-text">Animation</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h6>The Apocalipse: Short Animation</h6>
              <p><span class="bkg-col-text">3</span> positions avalaible</p>
              <p><span class="bkg-col-text">26</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Gaming</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>HomeSafe: iOS and Android App</h6>
                <p><span class="bkg-col-text">8</span> positions avalaible</p>
                <p><span class="bkg-col-text">9</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Software</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>Intrusion: a VR Experience</h6>
                <p><span class="bkg-col-text">12</span> positions avalaible</p>
                <p><span class="bkg-col-text">146</span> followers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-featured-idea" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-featured-idea" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div id="carousel-featured-idea-col2" class="corousel-container carousel slide pt-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-featured-idea-col2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-featured-idea-col2" data-slide-to="1"></li>
          <li data-target="#carousel-featured-idea-col2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h5 class="bkg-col-text">Animation</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h6>The Apocalipse: Short Animation</h6>
              <p><span class="bkg-col-text">3</span> positions avalaible</p>
              <p><span class="bkg-col-text">26</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Gaming</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>HomeSafe: iOS and Android App</h6>
                <p><span class="bkg-col-text">8</span> positions avalaible</p>
                <p><span class="bkg-col-text">9</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Software</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>Intrusion: a VR Experience</h6>
                <p><span class="bkg-col-text">12</span> positions avalaible</p>
                <p><span class="bkg-col-text">146</span> followers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-featured-idea-col2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-featured-idea-col2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div id="carousel-featured-idea-col3" class="corousel-container carousel slide pt-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-featured-idea-col3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-featured-idea-col3" data-slide-to="1"></li>
          <li data-target="#carousel-featured-idea-col3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h5 class="bkg-col-text">Animation</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h6>The Apocalipse: Short Animation</h6>
              <p><span class="bkg-col-text">3</span> positions avalaible</p>
              <p><span class="bkg-col-text">26</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Gaming</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>HomeSafe: iOS and Android App</h6>
                <p><span class="bkg-col-text">8</span> positions avalaible</p>
                <p><span class="bkg-col-text">9</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Software</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>Intrusion: a VR Experience</h6>
                <p><span class="bkg-col-text">12</span> positions avalaible</p>
                <p><span class="bkg-col-text">146</span> followers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-featured-idea-col3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-featured-idea-col3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <h3 class="pt-4">New Ideas</h3>
  <hr>
  <div class="row">
    <div class="col-6 col-md-4">
      <div id="carousel-new-idea-col1" class="corousel-container carousel slide pt-4 pb-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-new-idea-col1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-new-idea-col1" data-slide-to="1"></li>
          <li data-target="#carousel-new-idea-col1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h5 class="bkg-col-text">Film & Video</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h6>Project for 48-Hour Film Challenge</h6>
              <p><span class="bkg-col-text">3</span> positions avalaible</p>
              <p><span class="bkg-col-text">26</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Writing</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>No Way Out: Horror Contest Entry</h6>
                <p><span class="bkg-col-text">8</span> positions avalaible</p>
                <p><span class="bkg-col-text">9</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">3D Printing</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>World Landmarks</h6>
                <p><span class="bkg-col-text">12</span> positions avalaible</p>
                <p><span class="bkg-col-text">146</span> followers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-new-idea-col1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-new-idea-col1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div id="carousel-new-idea-col2" class="corousel-container carousel slide pt-4 pb-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-new-idea-col2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-new-idea-col2" data-slide-to="1"></li>
          <li data-target="#carousel-new-idea-col2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h5 class="bkg-col-text">Film & Video</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h6>Project for 48-Hour Film Challenge</h6>
              <p><span class="bkg-col-text">3</span> positions avalaible</p>
              <p><span class="bkg-col-text">26</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Writing</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>No Way Out: Horror Contest Entry</h6>
                <p><span class="bkg-col-text">8</span> positions avalaible</p>
                <p><span class="bkg-col-text">9</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">3D Printing</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>World Landmarks</h6>
                <p><span class="bkg-col-text">12</span> positions avalaible</p>
                <p><span class="bkg-col-text">146</span> followers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-new-idea-col2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-new-idea-col1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div id="carousel-new-idea-col3" class="corousel-container carousel slide pt-4 pb-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-new-idea-col3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-new-idea-col3" data-slide-to="1"></li>
          <li data-target="#carousel-new-idea-col3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h5 class="bkg-col-text">Film & Video</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h6>Project for 48-Hour Film Challenge</h6>
              <p><span class="bkg-col-text">3</span> positions avalaible</p>
              <p><span class="bkg-col-text">26</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">Writing</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>No Way Out: Horror Contest Entry</h6>
                <p><span class="bkg-col-text">8</span> positions avalaible</p>
                <p><span class="bkg-col-text">9</span> followers</p>
            </div>
          </div>
          <div class="carousel-item text-center">
              <h5 class="bkg-col-text">3D Printing</h5>
            <img class="d-block w-100" src="https://ptetutorials.com/images/user-profile.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h6>World Landmarks</h6>
                <p><span class="bkg-col-text">12</span> positions avalaible</p>
                <p><span class="bkg-col-text">146</span> followers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-new-idea-col3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-new-idea-col3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>