<section class="container text-center">
  <div class="row">
    <div class="col">
      <form action="">
        <div class="form-group">
          <h1>HERE SHOULD GO THE IMAGE....</h1>
          <!-- <img [src]="url" class="profile-img">
          <label class="img-upload" for="image-profile">Change Image</label>
          <input  id="image-profile"  type="file" (change)="onFileChangeSelectedEvent($event)" 
          [formControl]="profileForm.controls['profile_img']"  style="visibility:hidden;" accept="image/*"> -->
        </div>
        <div class="form-group text-left form-selector-width">
          <label for="profile-name" class="bkg-col-text"><strong>Name</strong></label>
          <input type="text" id="profile-name" class="form-control" aria-label="title" [formControl]="profileForm.controls['profile_name']">
        </div>
        <div class="form-group text-left form-selector-width">
            <label for="profile-about" class="bkg-col-text"><strong>About me</strong></label>
            <textarea  placeholder="Tell us about you..." class="form-control" id="profile-about" rows="3" 
            [formControl]="profileForm.controls['profile_about']">
          </textarea>
        </div>
        <div class="form-group text-left">
          <label class="bkg-col-text" for="profile-idea"><strong>My Ideas</strong></label>
          <hr>
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Created</th>
                <th scope="col">Category</th>
                <th scope="col">Option</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let idea of listIdea; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{idea.ideaName}}</td>
                <td>{{idea.ideaDescription}}</td>
                <td>{{idea.date | date: 'fullDate'}}</td>
                <td>{{idea.category}}</td>
                <td>
                  <button  type="button" (click)="editIdea(idea.ideaID)" data-toggle="modal" data-target="#modalEditIdea" class="btn action-icon"><i class="fas fa-pencil-alt"></i></button> 
                  <button  type="button" (click)="deleteIdea(i, idea.ideaID, idea.ideaName)" class="btn action-icon"><i class="fas fa-trash-alt"></i></button>
                  <button  type="button" (click)="showIdea(idea.ideaID)" class="btn action-icon"><i class="fas fa-eye"></i></button> 
                </td> 
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group text-right">
            <button [disabled]="!profileForm.valid" (click)="deleteProfile()" type="button" class="bkg-col-element btn mr-3">Delete Profile</button>
            <button [disabled]="!profileForm.valid" (click)="editProfile()" type="submit" id="submit" class="bkg-col-element btn">Edit Profile</button>
            <button  type="button" class="bkg-col-element btn ml-3" routerLink="/changePassword/{{user.emailAddress}}">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</section>
<app-edit-idea [ideas]="listIdea"></app-edit-idea>
