.profile-wrapper {
    height: 80vh;
}

.file-upload {
    cursor: pointer;
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
    display: block;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    font-weight: 600;
}
.file-upload:hover {
    background-color: black;
    color: orange;
}

#profile-img {
    height: 300px;
    max-width: 310px;
    border-radius: 140px;
}
