/* You can add global styles to this file, and also import other style files */
p{
    font-weight: 600;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none !important;
}

.bkg-col-element {
    background-color: orange;
    color: black;
}
.bkg-col-element:hover {
    background-color: black;
    color: orange;
}
.navbar {
    background-color: black;
    padding: 20px;
}
.nav-link, .nav-text-color{
    color: white !important;
}
.nav-link:hover {
    color: orange !important;;
}
.nav-text-color:hover {
    color: orange !important;;
}
.bkg-col-text{
    color: orange;
}
.navbar-toggler {
    background-color: orange;
}
a:hover{
    color: black;
    text-decoration: none;
}
.form-selector-width{
    max-width: 300px;
    margin: 0 auto;
}
hr {
    margin: 0;
    border-top: 4px solid rgb(138, 135, 135)
}
.category-sel-opt {
    max-width: 300px;
    margin-left: 20px;
    display: inline;
}
.has-search {
    margin: 0;
}
.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 24px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-container-header {
    max-width: 500px;
} 

.modal-content{
    border: none !important
}
