<!--<div class="applyModal">
  <button type="button" class="close" aria-label="Close" data-dismiss="alert" (click)=""></button>
  <div class="title">
    Apply for {{positionName}} position
  </div>
  <div class="input">
    <input type="text" class="textBox" id="message"/>
  </div>
  <div class="leader">Idea Leader: <span><a routerLink="/profile/{{ideaLeader}}">{{leaderName}} </a></span><a routerLink="/profile/{{ideaLeader}}"><div class="profImgSmall" [ngStyle]="{'background-image':'url('+leaderImg+')'}"></div></a></div>
  <button class="apply" (click)="">Apply</button>
</div>-->

<div id="testModal">
  TEST MODAL <button (click)="close('testMdal')">CLOSE</button>
</div>
