<!--Jordan Hui's code-->
<h1>Results</h1>
<div *ngIf = "!isLoading; else loading">
  <div *ngIf = "hasResults; else noResults">
    <div *ngFor = "let i of searchResults">
      
      <div class="container">
        <div class="result">
          <a routerLink="/idea/{{i.ideaID}}">
            <div class="preview" [style.background-image]="i.ideaImg"></div>
            <div class="row top">
              <div class="col-6 title">{{i.ideaName}}</div>
              <div class="col-6 name"><span>Idea Leader: <a routerLink="/profile/{{i.leadID}}">{{i.leadName}}</a></span><a routerLink="/profile/{{i.leadID}}"><div class="d-none d-lg-block profImgSmall" [style.background-image]="i.leadImg"></div></a></div>
            </div>
            <div class="row align-items-center">
              <div class="col desc">{{i.ideaDesc}}</div>
            </div>
            <div class="row align-items-end">
              <div class="col cat">Category > <b>{{i.ideaCat}}</b></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<ng-template #noResults>
  <div>No results found</div>
</ng-template>