 
.search-input-container {
     margin: 0;
}
.form-check {
     padding-left: 10px;
}
#searchButton {
    background-color: orange;
    border: 4px solid orange;
    font-size: 14px;
    position: relative;
    bottom: 1px;
    cursor: pointer;

}

#searchText {
     border: 2.5px solid orange;
}