 
.search-input-container {
     margin: 0;
}
.form-check {
     padding-left: 10px;
}
#searchButton {
    background-color: orange;
    border: 4px solid orange;
    font-size: 14px;
    position: relative;
    bottom: 1px;
    cursor: pointer;
    border-radius: 9px 0px 0px 9px;
}

.searchText {
     border: 2.5px solid orange;
     background-color: orange;
     border-radius: 0px 9px 9px 0px;
}

.search-container-header-not-lggin{
     margin: 0 auto;
     max-width: 387px;
}
#signout {
     cursor: pointer;
}