<nav class="navbar navbar-inverse bkg-col-element" id="header" role="banner">
<ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/viewMessage">View Chat</a></li>
    <li routerLinkActive="active"><a routerLink="/changePassword">View Change Password</a></li>
    <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
    <li routerLinkActive="active"><a routerLink="/createAccount">Create Account</a></li>
    <li routerLinkActive="active"><a routerLink="/createIdea">Create Idea</a></li>
</ul>
</nav>