<div *ngIf="message.successMessage; else errorMessage" class="message-container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <p><strong>{{message.successMessage}}</strong></p>
      <button type="button" class="close" aria-label="Close" data-dismiss="alert" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button> 
    </div>
</div>
<ng-template #errorMessage>
  <div class="message-container">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p><strong>{{message.messageFailure}}</strong></p>
          <button type="button" class="close" aria-label="Close" data-dismiss="alert" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button> 
      </div>
  </div>
</ng-template>
