<div class="container ideaBody">
  <div class="row">
    <div class="col-6 cat">Category > {{displayIdea.ideaCat}}</div>
    <div class="col-6 leader">Idea Leader: <span><a routerLink="/profile/{{displayIdea.leadID}}">{{displayIdea.leadName}} </a></span><a routerLink="/profile/{{displayIdea.leadID}}"><div class="profImgSmall" [ngStyle]="{'background-image':'url('+displayIdea.leadImg+')'}"></div></a></div>
  </div>

  <div class="row title">
    <div class="col">{{displayIdea.ideaName}}
      <span *ngIf="isLeader"><button type="button" (click)="editIdea(displayIdea.ideaID)" data-toggle="modal" data-target="#modalEditIdea" class="btn action-icon"><i class="fas fa-pencil-alt"></i></button> </span>
    </div>
  </div>
  <div class="row date">
    <div class="col time">Posted on {{displayIdea.ideaDate}}</div>
  </div>

  <div class="row heading">Description</div>
  <div class="row desc">
    <div class="col">
      {{displayIdea.ideaDesc}}
    </div>
  </div>

  <div class="row heading">Media</div>
  <div class="row">
    <div class="col mx-auto media">
      <div *ngFor= "let i of displayIdea.ideaImgs">
        <img class="ideaImg" src="{{i}}" alt="Idea Image">
      </div>
    </div>
  </div>

  <div class="row heading">Updates</div>
  <div class="row">
    <div class="col mx-auto updates">
      <div *ngFor= "let u of displayIdea.ideaUpdates">
        <div class="update">
          <div class="updateDate">
            <b>{{u.date}}</b>
          </div>
          <div class="updateText">
            {{u.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row heading">Positions</div>
  <div class="row">
    <div class="col mx-auto postings">
      <div *ngFor="let p of displayIdea.ideaPostings">
        <div class="posting">
          <div class="postingName">
            <b>{{p.name}}</b>
          </div>
          <div class="postingDescription">
            {{p.description}}
          </div>
          <div class="availability">
            {{p.filled}}/{{p.availiable}} filled
          </div>
          <div *ngIf="!isLeader && !isMember && isLoggedIn">
            <button class="applyButton" [disabled]="!p.isOpen" >Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row heading">Contributors</div>
  <div class="row">
    <div class="col members">
      <div class="col-4 member" *ngFor="let m of displayIdea.ideaMembers">
        <a routerLink="/profile/{{m.profileId}}">
          <div class="preview" [ngStyle]="{'background-image':'url('+m.profileImg+')'}"></div>
          <div class="row top">
            <div class="col name">{{m.profileName}}</div>
          </div>
          <div class="row align-items-center">
              <div class="col role">{{m.roleTitle}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col report">Inappropriate Content? <span class="reportButton"><a class="mailto" href="mailto:brightideasapp@gmail.com">Report</a></span> this idea.</div>
  </div>
</div>

